<div class="container">
  <div class="row">
    <div class="col m12 offset-m0">
      <h5 class="black-text">All users Profile</h5>

      <table class="highlight">
        <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= render user %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>