<div class="container">
  <div class="row">
    <div class="col m12 offset-m0">
      <h5 class="black-text">All users Profile</h5>

        <% @users.each do |user| %>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <span> <%= user.first_name %> <%= user.last_name %></span>
                  <span style="margin-left: 25%;"> <%= user.email %> </span>
                </div>
                <div class="collapsible-body"><span> <%= render user %> </span></div>
              </li>
            </ul>
        <% end %>
    </div>
  </div>
</div>

