<% @trans.each do |tran| %>
    <tr>
      <td><%= tran.amount %></td>
    </tr>
<% end %>





<% @trans.each do |tran| %>
    <table>
      <tbody>
      <tr>
        <td><%= render tran, account: Account.find_by(id: tran.account_id) %></td>
      </tr>
      </tbody>
    </table>
<% end %>





<div>
  <table>
    <tr>
      <th> Manage users</th>
    </tr>
      <% @user.each do |user| %>
        <tr>
          <td>
            <%= link_to "#{user.email}", user_accounts_path(user.id) %>
          </td>
        </tr>
      <% end %>
  </table>
</div>

