<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.transType select').change(function (){
            if(this.value == "credit" || this.value =="debit"){
                if(!$('.accNum').hasClass('hidden')){
                    $('.accNum').addClass('hidden');
                    $('.routingNum').addClass('hidden');
                }
            }else{
                if($('.accNum').hasClass('hidden')){
                    $('.accNum').removeClass('hidden');
                }
            }
        })
        var trans_select = $('.transType select option:selected').text();
        if(trans_select == "credit" || trans_select =="debit"){
            if(!$('.accNum').hasClass('hidden')){
                $('.accNum').addClass('hidden');
                $('.routingNum').addClass('hidden');
            }
        }else if(trans_select == "request" || trans_select =="transfer"){
            if($('.accNum').hasClass('hidden')){
                $('.accNum').removeClass('hidden');
            }
            if($('#tran_transfer_account')[0].value.length === 16)
                $('.routingNum').removeClass('hidden');
        }
    });
</script>

<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <h5 class="black-text">New Transaction</h5>

      <%= render 'form', tran: @tran %>
      <br>

      <button class="waves-effect waves-light btn"> <%= link_to 'Back to Account', user_account_path(current_user, @account) %> </button>
    </div>
  </div>
</div>